.TopBanner
{
    
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary_color);
}


.contact_side
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.info
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.info svg , .info p , .info p a{
    color: var(--white_color);
    cursor: pointer;
    transition: .3s;
}
.info p a:hover,.social_side a:hover
{
    color: var(--secondary_color);
}

.social_side a
{
    margin-left: 25px;
    color: var(--white_color);
    font-size: 20px;
    transition: .3s;
}


@media (max-width: 768px) {
    .TopBanner
    {
        display: none;
    }
}
