.Sections_Hero {
    width: 100%;
    height: 70vh;
    border-bottom-left-radius: 170px;
    background-image: url(../../assets/images/about_page.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.Sections_Hero::before {
    content: '';
    position: absolute;
    border-bottom-left-radius: 170px;
    width: 100%;
    height: 100%;
    background: #3c5a75bf;
}

.about_paragrap {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    flex-wrap: wrap;
}

.SectionAboutOne {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    margin-top: 20px;
}

.SectionAboutOne .IMAGE_about {
    width: 40%;
}

.en .SectionAboutOne .IMAGE_about {
    width: 40%;
}

.SectionAboutOne .IMAGE_about img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.SectionAboutOne .text_about {
    width: 50%;
}

.SectionAboutOne .text_about h1 {
    color: var(--primary_color);
    font-size: 45px;
    /* text-decoration: underline; */
    margin-bottom: 10px;
    padding-bottom: 5px;
    width: max-content;
    border-bottom: 5px solid var(--primary_color);

}

.SectionAboutOne .text_about p {
    font-size: 22px;
    line-height: 30px;
    color: var(--primary_color);
    max-width: 500px;
    font-weight: 600;
}

.about_services_section,
.our_partner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 50px;
    margin-top: 50px;
    position: relative;
}

.about_services_section {
    flex-direction: row-reverse;
}

.about_services_section img,
.our_partner img {
    width: 40%;
    height: 350px;
    object-fit: cover;
}

.about_services_text {
    width: 50%;
}

.our_partner_text {
    width: 50%;
}

.en .about_services_section img,
.our_partner img {
    width: 40%;
    height: 550px;
    object-fit: cover;
}

.en .SectionAboutOne .IMAGE_about img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

.about_services_text h1,
.our_partner h1 {
    font-size: 35px;
    color: var(--primary_color);
    /* text-decoration: underline; */
    padding-bottom: 5px;
    border-bottom: 5px solid var(--primary_color);
    width: 280px;
    margin-bottom: 10px;
}

.about_services_text p,
.our_partner p {
    max-width: 600px;
    font-size: 20px;
    color: var(--primary_color);
    line-height: 40px;
    font-weight: 600;
}

.our_work {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our_work h1 {
    font-size: 40px;
    color: var(--primary_color);
    padding-bottom: 5px;
    border-bottom: 5px solid var(--primary_color);
    width: 300px;
    text-align: center;
}

.en .our_work h1 {
    font-size: 32px;
}

.our_work_con {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}

.our_work_card {
    width: 300px;
    height: 250px;
    padding: 20px;
    background: linear-gradient(135deg, #737fa9 0%, #bfcad5d2 43%, #2d31407a 100%);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
}

.en .our_work_card {
    height: 320px;
}

.our_work_card h2 {
    color: var(--primary_color);
    border-bottom: 5px solid var(--primary_color);
    padding-bottom: 3px;
    width: max-content;
    margin-bottom: 15px;
    font-size: 22px;
}

.our_work_card p {
    color: var(--primary_color);
    font-size: 16px;
}



@media(max-width:992px) {

    .about_paragrap img {
        width: 400px;
    }

    .SectionAboutOne {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
        padding-inline: 20px;
        margin-top: 20px;
    }

    .SectionAboutOne .text_about {
        width: 100%;

    }

    .SectionAboutOne .IMAGE_about {
        width: 100%;
    }

    .about_services_section,
    .our_partner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        align-items: center;
        padding-inline: 20px;
    }

    .about_services_section img,
    .our_partner img {
        width: 100%;
    }

    .about_services_text {
        width: 100%;
    }

    .our_partner_text {
        width: 100%;
    }

    .about_services_text p,
    .our_partner p {
        max-width: 80%;
        font-size: 16px;
    }

    .SectionAboutOne .text_about p {
        font-size: 16px;
        max-width: 80%;
    }
    .en .about_services_section img,
    .our_partner img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
    .en .SectionAboutOne .IMAGE_about {
        width: 100%;
    }
    
    .en .SectionAboutOne .IMAGE_about img {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }

}

@media(max-width:576px) {

    .about_services_text p,
    .our_partner p {
        font-size: 14px;
    }

    .SectionAboutOne .text_about p {
        font-size: 14px;
    }

    .about_services_text h1,
    .our_partner h1 {
        font-size: 25px;
    }

    .SectionAboutOne .text_about h1 {
        font-size: 25px;
    }

    .en .about_services_section img,
    .our_partner img {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }
    .en .SectionAboutOne .IMAGE_about {
        width: 100%;
    }
    
    .en .SectionAboutOne .IMAGE_about img {
        width: 100%;
        height: 550px;
        object-fit: cover;
    }

    .our_work_card h2 {
        width: fit-content;
    }
}